body { /*1*/
    background: url(../img/beautiful-coconut-palm-trees-6532.jpg) no-repeat center center fixed;
    background-size: cover;  /*чтобы картинка на фоне растягивалась на размер всей страницы и была фиксированна*/
}

.header, /*10*/
.shop,
.logo__link,
.menu,
.search__menu {
    display: flex; 
    flex-direction: row; /*чтобы были в строчку*/
}

.header, /*10*/
.search__menu,
.menu { 
    justify-content: space-around; /*чтобы не склеивались между собой, а были на расстоянии*/
}

.logo { /*10*/
    width: 10%; /* общая ширина логотипа */
}

.logo__link { /* 10 */
    justify-content: center;
    align-items: center;
}

.menu__link, /* 10 */
.logo__text,
.shop__buy,
.shop__title {
    color: black;
}

.logo__picture { /*10*/
    width: 50%;
    padding: 2%; /*чтобы не впритык к краям*/
}

.wrap { /*10*/
    width: 80%; 
    margin: 0 auto; /*для того чтобы контейнер находился посередине страницы*/
    padding: 1%;
    font-size: 1.2rem;
}

.header, /*10*/
.wrap {
    background-color: rgba(152, 251, 152, 0.8);
}

.menu { /*10*/ 
    align-items: center; /* расположение меню  */
    width: 40%;
    margin: 1%;   
}

.logo__link, /*10*/
.menu__link, /* чтобы ссылочки не подчеркивались */
.shop__buy,
.shop__title,
.link {
    text-decoration: none;
}

.menu__link:hover, /* чтобы ссылочки подчеркивались при наведении */
.logo__link:hover,/*20*/
.shop__buy:hover,
.shop__title:hover,
.link:hover {
    text-decoration: underline;
}

.dropdown_form__item {/*10*/
    position: relative; /*относительно него мы будет позиционировать выпадающую форму*/
    margin-bottom: 1%;
}

.dropdown_form { /*10*/
    position: absolute; /*вырываем с остальной страницы*/
    display: none; /*чтобы изначально не было видно на странице*/
    background-color: rgba(152, 251, 152, 0.8);
    padding: 1%;  
}

.dropdown_form__submit { /*10*/
    width: 40%; 
    margin-top: 5%;
    color: white;
    background-color:olivedrab;
}

.menu__item:hover .dropdown_form { /*30*/
    display: block; /*чтобы при наведении выпадала форма и она была блоком*/
}

.search__menu { /*10*/
    padding: 1%;
    background-color: rgba(152, 251, 152, 0.5)
}

.search__submit { /*10*/
    width: 300%;
    margin-top: 20%;
    padding: 20%;
    background-color:rgba(152, 251, 152);
}

.search__text, /*10*/
.search__select,
.search__date {
    padding: 3%;
    width: 100%;
}

.primary { /*10*/
    width: 60%;
    margin: 0 auto; /*чтобы по центру страницы*/
    padding: 2%;
}

h2 { /*1*/
    font-size: 2rem; /*чтобы заголовки были больше размером и по центру*/
    text-align: center;
    margin: 2%;
    margin-right: 5%;
}

.shop__item {/*10*/
    width: 45%;
    padding: 5%;
    border: 1px solid rgb(7, 15, 7);
    margin: 5%;
    background-color:rgba(	135,206,250, 0.7);
}

.shop__img { /*10*/
    width: 100%;
    border: 1px solid rgb(7, 15, 7);
}

.shop__buy, /*10*/
.shop__title { 
    font-size: 1.5rem; 
}

.shop__description, /*10*/
.shop__img { 
    padding: 1.5%;
    margin: 1%;
}
    
.footer { /*10*/
    width: 100%;
    padding: 1%;  
    background-color:rgba(152, 251, 152, 0.3); 
}

.footer__title, /*10*/
.footer__form { 
    font-size: 1.5rem;
    text-align: center;
    margin: 1%;  
}

.footer__input { /*10*/
    padding: 0.7%;
    background-color:rgba(152, 251, 152, 0.5);
}

.fixed { /*10*/
    position: fixed;
    padding: 2%;
    top: 0;
    left: 0;  
}
