
.header,
.shop__wrap,
.logo__link,
.menu,
.search__menu {
    display: flex; 
    flex-direction: row;
}
.header,
.search__menu { 
    justify-content: space-around;
}

/* 10 */
.logo { /* общая ширина логотипа */
    width: 10%; 
}

.logo__link { /* чтобы в логотипе всё шло в строчку */
    justify-content: center;
    align-items: center;
}

/* 10 */
.menu__link, /* цвет текста */
.logo__text {
    color: black;
}

/* 10 */
.logo__picture {
    width: 40%;
    padding: 2%;
}

.header {
    background-color: rgba(152, 251, 152, 0.5)  
}

/* 10 */
.menu {
    justify-content: space-around; /* расположение меню  */
    align-items: center;
    width: 40%;
    margin: 1%;   
}

.menu__link, /* чтобы ссылочки не подчеркивались */
.logo__link {
    text-decoration: none;
}

/* 20 */
.menu__link:hover, /* чтобы ссылочки подчеркивались при наведении */
.logo__link:hover {
    text-decoration: underline;
}

.dropdown_form__item {
    position: relative;
    margin-bottom: 1%;

}

.dropdown_form {
    position: absolute;
    display: none; 
    background-color: rgba(152, 251, 152, 0.8);
    padding: 1%;  
}

.dropdown_form__submit {
    width: 40%;
    margin-top: 5%;
    color: white;
    background-color:olivedrab;
}

.menu__item:hover .dropdown_form {
    display: block;
}

.main {
    background: url(../img/beautiful-coconut-palm-trees-6532.jpg) no-repeat;
    background-size: 100%;
    height: 1000px;  
}

.search__menu {
    padding: 1%;
    background-color: rgba(152, 251, 152, 0.5)
}

.search__submit{
    width: 300%;
    margin-top: 20%;
    padding: 20%;
    background-color:rgba(152, 251, 152);
}

.search__text,
.search__select,
.search__date {
    padding: 3%;
    width: 100%;

}